html {font-size: 16px;}
body {
  text-align: center;
  font-family: Georgia;
  background:#fed;
}

table {margin: 1em auto;}

td {
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  background: #fec;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #000;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.dw,
.s {background: #e8bbbb;}

.tw {background: #f77;}

.dl {background: #bcf;}

.tl {background: #79f;}

#rack {
  background: #fff;
  padding: 15px 20px 25px 20px;
  border-spacing: 8px 0;
  box-shadow: 0 0 1px #000,inset 0 0 4px #fff;
}

.tile {
  width: 38px;
  height: 37px;
  margin: 0 4px;
  font: 22pt arial;
  font-weight: bold;
  color: #fff;
  text-align: right;
  text-shadow: 0 -1px 0 #661100;
  vertical-align: top;
  background: #b67c6d;
  border: 1px solid #83493a;
  box-shadow: inset 0 -1px 0 #83493a, inset 0 -1px 3px #ffffff;
}

#rack .tile {
  display: inline-block;
  box-shadow: inset 0 -1px 2px #ffffff, 0 2px 0 #83493a, 0 4px 6px #000000;
}

.tile span {
  padding: 0 2px 0 1px;
  font-size: 10pt;
  vertical-align: bottom;
}

.selected,
#rack .selected {
  text-shadow: 0 2px 1px #72a;
  border: 1px double #72a;
}