html {font-size: 16px;}
body {
  text-align: center;
  font-family: Georgia;
  background:#561B1F;
  background-image: radial-gradient(circle at center, #722329, #561B1F);
  color: rgba(255,255,255,.6);
}
a {color: #fff;}

table {
  margin: 1em auto;
  border-spacing: 3px;
  background: #fff;
}
#rack {
  background: rgba(255,255,255,.2);
  border-spacing: 0 8px;
  padding: 10px 25px;
}
#rack .tile {display: inline-block;}

td {
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  background: #E2D9C3;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.tile {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  margin: 0 4px;
  font: 18pt arial;
  font-weight: bold;
  color: #3F2417;
  text-align: right;
  text-shadow: 0 -1px 0 #661100;
  vertical-align: top;
  background: #D6A88D;
  border: 1px solid #70534D;
  border-bottom-width: 3px;
  border-radius: 2px;
}

.tile span {
  padding: 0 2px 0 1px;
  font-size: 10pt;
  vertical-align: bottom;
}

/* Special Tiles */
.dW,
.s {background: #ebb;}
.tW {background: #f77;}
.dL {background: #bcf;}
.tL {background: #79f;}